<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link type="text/css" rel="stylesheet"   href="/static/css/miestilo.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Noticias-Ronnie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Registro</a>
              </li>
          </ul>
        </div>
      </nav>
    
    <div class="container">

        <div class= "row">
            <div class="offset-md-4 col-md-4">
            <h2>Noticias de Hoy</h2>
  
        </div>
           </div>
         
           <hr class="my-5 col-md-8">

    <div id="contenido" class="row">
 
        <div id="articulo" class="col-md-3 card">
           <div class="card-body">
            <h3>Paliza pregunta ¿Ya violaron el pacto?</h3>
            <img  src='../static/img/noticia1.jpg'  style=" width: 200px;" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore, eveniet voluptatibus molestias officia neque ut deserunt! Officiis reiciendis explicabo at! Molestiae minima magnam laudantium unde voluptatum nesciunt voluptate adipisci?</p>
            </div>
        </div>
        <div id="articulo2" class="offset-md-1 col-md-3 card" >
            <div class="card-body">
            <h3>Gisela Cueto procuradora electoral</h3>
            <img  src='../static/img/noticia2.jpg' style=" width: 200px;" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore, eveniet voluptatibus molestias officia neque ut deserunt! Officiis reiciendis explicabo at! Molestiae minima magnam laudantium unde voluptatum nesciunt voluptate adipisci?</p>
            </div>
        </div>
        <div id="articulo2" class="offset-md-1 col-md-3 card" >
            <div class="card-body">
            <h3>Trump expuesto a COVID-19</h3>
            <img  src='../static/img/noticia3.jpg' style=" width: 200px;" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium labore, eveniet voluptatibus molestias officia neque ut deserunt! Officiis reiciendis explicabo at! Molestiae minima magnam laudantium unde voluptatum nesciunt voluptate adipisci?</p>
                </div>
        </div>
        </div>
    </div>
</div>
    
</body>
</html>