<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link type="text/css" rel="stylesheet"   href="/static/css/miestilo.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          Noticias Ronnie
        </a>
      </nav>
    
    <div class="container">    
    <div id="contenido" class="row">
 
        <div id="articulo" class="offset-md-3 col-md-5 ">
            <div class="jumbotron">
                <h1 class="display-4 tex-center">Bienvenido</h1>
                <p class="lead">Elige una de las opciones debajo</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/home" role="button">Inicio</a>
                <a class="btn btn-primary btn-lg" href="/usuarios" role="button">Usuarios</a>
                <a class="btn btn-primary btn-lg" href="/registro" role="button">Registro</a>
              </div>
        </div>
        </div>
    </div>
</div>
    
</body>
</html>