<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link type="text/css" rel="stylesheet"   href="/static/css/miestilo.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Noticias-Ronnie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link " href="/home">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/usuarios">Usuarios </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Registro</a>
              </li>
          </ul>
        </div>
      </nav>
    
    <div class="container ">
        <div>
            <h2> Lista de Usuarios</h2>
        </div>
        <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Ciudad</th>
                    <th>Sexo</th>
                    <th>Email</th>
                    <th>Pubicidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        123
                    </td>
                    <td>
                        Ronnie Ortiz
                    </td>
                    <td>
                        29
                    </td>
                    <td>
                        Santo Domingo
                    </td>
                    <td>
                        Masculino
                    </td>
                    <td>
                        roh990@gmail.com
                    </td>
                    <td>
                        Si
                    </td>
    
                </tr>
                <tr>
                    <td>
                        456
                    </td>
                    <td>
                        Salvador Castro
                    </td>
                    <td>
                        33
                    </td>
                    <td>
                        Santo Domingo
                    </td>
                    <td>
                        Masculino
                    </td>
                    <td>
                        salvaC@gmail.com
                    </td>
                    <td>
                        No
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        789
                    </td>
                    <td>
                        Nexido Disla
                    </td>
                    <td>
                        27
                    </td>
                    <td>
                        Santo Domingo
                    </td>
                    <td>
                        Masculino
                    </td>
                    <td>
                        nDisla@gmail.com
                    </td>
                    <td>
                        Si
                    </td>
    
                </tr>
                <tr>
                    <td>
                        012
                    </td>
                    <td>
                        Luis Gonzales
                    </td>
                    <td>
                        39
                    </td>
                    <td>
                        Santo Domingo
                    </td>
                    <td>
                        Masculino
                    </td>
                    <td>
                        LG992@gmail.com
                    </td>
                    <td>
                        Si
                    </td>
    
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
</body>
</html>